# VSCode
.vscode

# Python
backend/venv/
backend/__pycache__/
backend/*.pyc

# Node.js
frontend/node_modules/
frontend/.next/
frontend/out/

# Chrome Extension
chrome-extension/*.zip

# General
.DS_Store